/*
-------------------------------------------------------------------
    Common.css - universal styles only please
-------------------------------------------------------------------
*/

@import url('../js/fancybox/jquery.fancybox.css');
@import url('page_thumbs_sprite.css');

.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

.add-op-element span.op-element-buttons-icon {
    background: url('../images/op-element-button.png') no-repeat top left;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    margin: -1px 4px 0 -4px;
}

.op-bsw-wizard a {
    color: #004a80 !important;
}

/* Layout */
.op-bsw-wizard {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 25px 0px 25px 6px;
    width: 790px !important;
    background: #fff;
    font-size: 12px;
}

.op-bsw-wizard-full { width: 98% !important; }

.op-bsw-content {
    border-radius: 6px;
    border: 1px solid #ccc;
    overflow: visible;
}

.op-bsw-main-content {
    margin: 25px;
}

/* Header */
.op-bsw-header {
    background: #004a7f;
    background: linear-gradient(to bottom, #004a7f 0%, #002e50 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004a7f', endColorstr='#002e50',GradientType=0 );
    box-shadow: inset 0 0 -1px 0 rgba(255, 255, 255, .05), inset 0 -1px 0 0 rgba(0, 0, 0, .25), inset 0 1px 0 0 #007dc8;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid #000000;
    height: 100px;
    width: 788px;
    margin: -1px 0 0 -1px;
}

.op-bsw-header-full { width: 100%; }

.op-bsw-header .op-logo {
    float: left;
    margin: 25px 0 0 25px;
}

.op-bsw-header ul {
    margin: 24px 24px 0 0;
    padding: 0;
    float: right;
    display: inline-block;
    background: none;
}


/* Footer */
.form-actions {
    background-color: #E3E2E6;
    background: #808080;
    background: linear-gradient(to bottom, #595959 0%, #808080 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#808080',GradientType=0 );
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.15);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid #000000;
    height: 100px;
    margin: 0px 0 0 -1px;
    padding: 0px;
    width: 788px;
}

.form-actions-content {
    padding: 25px 25px 0 25px;
    border: 0px;
    text-align: right;
}

.form-actions-content .adjusted {
    margin: 0 0 0 0;
}


/* Buttons */
.op-pb-button,
.op-pb-button:active {
    background: #595959;
    background: linear-gradient(to bottom, #595959 0%, #525252 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#525252',GradientType=0 );
    box-shadow: inset 0 0 1px 0 rgba(255,255,255,0.1), inset 0 1px 0 0 rgba(255,255,255,0.1), 0 1px 0 0 rgba(0,0,0,0.1);
    border: 1px solid #000;
    border-radius: 3px;
    height: 48px;
    width: auto;
    padding: 0 25px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 1px #000, 0 0 1px #000, 0 1px 1px #000;
    text-decoration: none;
    cursor: pointer;
    text-transform: none;
}

.op-pb-button:hover {
    color:#fff;
    border: 1px solid #000;
    background: #595959;
    background: linear-gradient(to bottom, #616161 0%, #595959 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#595959',GradientType=0 );
    box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.1), inset 0 1px 0 0 rgba(255,255,255,0.1), 0 1px 0 0 rgba(0,0,0,0.25);
}

.op-pb-button:focus {
    outline: thin dotted;
}

.op-pb-button.green {
    color:#fff;
    background: #208000;
    background: linear-gradient(to bottom, #269800 0%, #228a00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#269800', endColorstr='#228a00',GradientType=0 );
    box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.15), inset 0 1px 0 0 rgba(255,255,255,0.15), 0 1px 0 0 rgba(0,0,0,0.15);
    transition: all .2s ease-in-out;
}

.op-pb-button.green:hover {
    color:#fff;
    border: 1px solid #000;
    background: #228700;
    background: linear-gradient(to bottom, #28a100 0%, #228700 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28a100', endColorstr='#228700',GradientType=0 );
    box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.1), inset 0 1px 0 0 rgba(255,255,255,0.1), 0 1px 0 0 rgba(0,0,0,0.25);
}

.op-pb-button:active,
.op-pb-button.green:active {
    position: relative;
    top: 1px;
}

.op-pb-button.green.op-loading,
.op-create-page-btn.op-loading {
    padding-right: 47px;
    border-radius: 3px 0 0 3px;
}

.op-pb-button.green + .op-loader,
.op-create-page-btn + .op-loader {
    opacity: 0;
    display: inline-block;
    position: absolute;
    right: 19px;
    left: auto;
    bottom: 13px;
    top: auto;
    pointer-events: none;
}

.op-pb-button.green.op-loading + .op-loader,
.op-create-page-btn.op-loading + .op-loader { opacity: 1; }

.op-button-round,
.op-btn,
#le-settings-dialog a.add-new-row,
.op-file-uploader a.button,
.op-thumb-gallery a.button,
.create-link a,
#le-settings-dialog #launch_funnel_new input[type="button"],
#le-layouts-dialog input.button,
#le-layouts-dialog input[type="button"],
.op-file-uploader a,
.op-bsw-grey-panel-content a.add-new-row,
#funnel_switch_create_new,
#funnel_delete,
input[value="Go"],
a.default-val-link,
.page-builder-indent a,
#op-meta-scripts a.add-new-row,
.op-asset-actual-content a.new-row,
a.reset, a.reset-link,
a.check-availability,
a.check-availability-cancel {
    /*background: url('../images/white-grad.png') repeat-x #f2f2f2 !important;*/
    background: #f1f1f1; /* Old browsers */
    background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 100%);
    border: 1px solid #ccc;
    border-radius: 25px !important;
    min-height: 15px;
    height: auto !important;
    width: auto !important;
    margin: 0px !important;
    padding: 5px 15px !important;
    display: inline-block;
    font-size: 12px !important;
    font-weight: bold !important;
    line-height: 15px !important;
    color: #000 !important;
    text-decoration: none !important;
    cursor: pointer;
    text-shadow: white 0px 1px 0px !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.op-button-round:hover,
.op-btn:hover,
#le-settings-dialog a.add-new-row:hover,
.op-file-uploader a.button:hover,
.op-thumb-gallery a.button:hover,
.create-link a:hover,
#le-settings-dialog #launch_funnel_new input[type="button"]:hover,
#le-layouts-dialog input.button:hover,
#le-layouts-dialog input[type="button"]:hover,
.op-file-uploader a:hover,
.op-bsw-grey-panel-content a.add-new-row:hover,
#funnel_switch_create_new:hover,
input[value="Go"]:hover,
.default-val-link:hover,
.page-builder-indent a:hover,
#op-meta-scripts a.add-new-row:hover,
.op-asset-actual-content a.new-row:hover,
a.reset:hover, a.reset-link:hover,
a.check-availability:hover,
a.check-availability-cancel:hover {
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #f7f7f7;
    background: linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    }

a.check-availability, a.check-availability-cancel { position: relative; top: -10px; }
a.check-availability-cancel { display: none; }

#funnel_delete {
    background: #b20000 !important;
    color: #fff !important;
    box-shadow: none;
    text-shadow: none !important;
    border-color: #790000;
}

#funnel_delete:hover {
    background: #CE0000 !important;
    border-color: #333;
}

#funnel_delete:active {
    border-color: #333;
    box-shadow: inset 0 0 15px rgba(0,0,0,.5);
}

#launch_funnel_select {
    margin-bottom: 15px;
}

#op_launch_funnel_new_funnel {
    margin-bottom: 10px;
}

#launch_funnel_new {
    padding-bottom: 15px;
}

.op-bsw-grey-panel-no-sidebar.typography .reset-link { margin-top: 21px !important; }
.op-bsw-setup .op-bsw-grey-panel-no-sidebar.typography .reset-link { margin-top: 6px !important; }

/**
 * Form Elements
 */
.op-bsw-wizard select {
    height: auto !important;
}

#layout-settings-alongside select {
  height: 40px !important;
}

#layout-settings-below select {
  height: 40px !important;
  margin-bottom: 10px !important;
}

.op-bsw-wizard input[type="text"],
.op-bsw-wizard input[type="password"],
.op-bsw-wizard textarea {
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin: 0;
    min-height: 18px;
    width: 50%;
    font-size: 16px;
    box-shadow: none;
    clear: both;
}

.op-bsw-wizard input[type="text"].error,
.op-bsw-wizard textarea.error {
    background-color: #fff2f2;
}

.op-bsw-wizard input[type="text"]:focus,
.op-bsw-wizard textarea:focus {
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05);
}

.op-bsw-grey-panel-content .color-picker-container input[type="text"],
.op-live-editor .color-picker-container input[type="text"] {
    clear: both;
    position: relative;
    width: 90px;
    height: 40px;
}

.op-file-uploader a.preview-image,
.op-thumb-gallery a.preview-image {
    margin: 15px 0 !important;
    border: 0px !important;
    background: none !important;
}

.op-thumb-gallery .file-preview {
    display: none;
}

.wp-editor-area {
    height: 150px;
}


/**
 * Content Sliders
 */
.op-content-slider {
    background-color: #fff;
    max-height: 600px;
    height: 90%;
    position: absolute;
    left: 50%;
    margin-left: -330px;
    top: -100%;
    bottom: auto;
    width: 660px;
    z-index: 99999;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
    border-radius: 0 0 6px 6px;
    transition: top .3s ease-in-out;
    transform: translate3d(0,0,0);
}

.optimizepress_page_optimizepress-launch-suite .op-content-slider,
.optimizepress_page_optimizepress-page-builder .op-content-slider {
    position: fixed;
    max-height: 9999px;
}

.op-content-slider .hide-the-panda {
    height: 35px;
    text-align: center;
    font-size: 12px;
    background: #f2f2f2;
    display: block;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: inset 0 1px 0 0 #fff;
}

.op-content-slider .hide-the-panda span {
    display: block;
    background:url('../images/up-arrows.png') no-repeat;
    background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAyCAMAAABrogsUAAAAe1BMVEUAAADLy8vMzMzMzMwASYAATH8ASoDKysrMzMwASIEASH/Pz88AT38ASILKysoASn/Ly8sASIDMzMwASIDKysrU1NQAVX/KysoASoAASn/Nzc0AAP////8ASoDKysrLy8vKysoASIAASX/Ly8sASX8ASYDMzMzMzMwASoCbDs4sAAAAJ3RSTlMAhR72vx6FP78/9hAQMTGenuvr/f0GBtvbUlIBAcfHt7i3uGxsa2tNBDG/AAAArklEQVQ4y93NRxKEIBRF0a9iwJyzdm7Y/wpbgtA4duQbwan6dQEuu/R+Sw9k5zUhdW7/UWQ5hM+xIknNqyRq5bfZaB47/gt8P+CPbpxhlcRuJK+wk6gLBkG6zhgYmXU/OKsuZtT1VN0cr191yfORHMjNKkqrzP2j2AspX+jFktp3QdWKT7vRNPT8hzBG/NEPEyyS2I3kBXYSdcEgSNcZAyOzjtFZdTGjrqfq5jD6AaukKgmAkOH9AAAAAElFTkSuQmCC') no-repeat;
    background-position: center 0;
    text-indent: -99999px;
    height: 35px;
}

.op-content-slider .hide-the-panda:hover span {
    background-position: center -25px;
}

.op-content-slider ul.op-image-slider-content {
    list-style-type: none;
    margin: 0;
}

.op-content-slider ul.op-image-slider-content li {
    float: left;
    width: 294px;
    height: 169px;
    margin: 0 7px 5px 0;
    position: relative;
    overflow: hidden;
}

.op-content-slider ul.op-image-slider-content li:nth-child(2n) {
    margin-right: 0;
}

.op-content-slider .content {
    height: 615px;
    /* 36px is the height of hide-the-panda button */
    height: calc(100% - 36px);
    padding: 25px;
    overflow-y: scroll;
    box-sizing: border-box;
}

.op-content-slider .content.font-view > p {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #474747 !important;
    text-shadow: 1px 1px 0px white;
}

.op-content-slider .content li a {
    border: 4px solid transparent;
    padding: 15px 0px;
    display: block;
    transition-property: padding, border;
    transition-duration: 0.2s;
    border-radius: 3px;
    text-indent: -100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.op-content-slider .content li a:hover {
    border: 4px solid #004a80;
}

.op-content-slider .op-image-slider-content li a {
    padding: 0 !important;
    width: 294px;
    height: 169px;
    border: 4px solid #fff;
    display: block;
    box-sizing: border-box;
}

.op-content-slider .op-image-slider-content li a::before {
    content: '';
    display: block;
    width: 300px;
    height: 169px;
    background-image: url('../images/thumbs/page_thumbs/page_thumbs_sprite.jpg');
    background-repeat: no-repeat;
    transform-origin: 0 0;
    transform: scaleX(.9533) scaleY(.953);
}

.tab-page_thumbnails .op-thumb-gallery {
    float: right;
    margin: 0 190px 0 0;
    width: 145px;
}

/**
 * Thumbnail
 */
.img-radio-selector {
    margin-top: 20px;
}

.img-radio-item {
    margin-right: 25px !important;
}

.op-pb-main-content .img-radio-item:nth-child(4n) {
    margin-right: 0px !important;
}

.op-bsw-grey-panel-content .thumb img {
    margin: 15px 0 0 15px;
    position: absolute;
    object-fit: cover;
}

.thumb img {
    background:#ccc;
    margin: 15px 0 0 15px;
    position: absolute;
    /*z-index: -1;*/ /* Commented out to show images in page builder */
}


/**
 * Thumbnail Text
 */
.theme-option, .preview-option, .theme-option a, .preview-option a {
    font-size: 12px;
    text-decoration: none;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.op-pb-main-content .preview-option {
    margin-top: 13px;
}

.preview-option a {
    display: block;
    margin-top: -52px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.theme-option a:hover, .preview-option a:hover {
    color: #004a80;
}

.preview-option a img {
    display: block;
    position: relative;
    left: -9999px;
    top: -136px;
}

.img-radio-item:hover a img {
    display: block;
    position: relative;
    left: 63px;
    top: -94px;
    opacity: .75;
}

.img-radio-item:hover a img:hover {
    opacity: 1;
}

/**
 * Thumbnail Border
 */
.img-radio-item .thumb-overlay{
    box-shadow: inset 0 0 -1px 0 #ccc, inset 0 0 -15px 0 #fff;
    border-radius: 3px;
    background: #f2f2f2;
}

.theme-style-selected .thumb-overlay,
.theme-style-selected:hover .thumb-overlay,
.img-radio-selected .thumb-overlay,
.img-radio-selected:hover .thumb-overlay{
    box-shadow: inset 0 0 -15px 0 #004a80 !important;
    border-radius: 3px;
    background: #004a80;
}

.theme-style:hover .thumb-overlay, .img-radio-item:hover .thumb-overlay{
    box-shadow: inset 0 0 -15px 0 #ccc;
}

.img-radio-selected .thumb-check {
    background: url('../images/checkmark.png') center center no-repeat #004a80;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAMAAABsDg4iAAAAwFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8Do+ZMAAAAP3RSTlMAm/79A/UGAQox2/QVFmYz4JmqwssFnMC1VA94W4UpkIfKF3HzFCH24/gb0pYozIyPU3fwLVEs18gOtqNSmrzjw/9vAAAAkElEQVQYGWXBCVsBUQCG0Q/DzDDZE5ElOyG7iPf//yu6nsqdOUdR32eFfZ04KmS35+LJts1w8GRbJUgHsrifsN7I4sYgvpSRy8pwP4CFjFqSwrNuWsA8JaMClJ6kOpCc6c4pAnm/EQe6+pWqApkxUHb0x3vBSPh68NrhR0yWYAr03mWbpKGtsMFo2FdE803/rjI+FA4N/ESXAAAAAElFTkSuQmCC') center center no-repeat #004a80;
    /*background: url('../images/pagebuilder-check.png') center center no-repeat #666;*/
    border-radius: 3px;
    height: 50px;
    width: 50px;
    position: relative;
    top: -196px;
    left: 146px;
}

.theme-option span, .preview-option span {
    float: right;
    position: relative;
    font-size: 14px;
    color: #0f87c9;
    top: 3px;
    display: none;
}

.theme-style:hover .theme-option span,
.theme-style-selected .theme-option span,
.img-radio-item:hover .preview-option span,
.img-radio-selected .preview-option span {
    display: inline;
}

.op-bsw-settings .img-radio-item:nth-child(even) {
    margin-right: 0px !important;
}

.op-bsw-settings .op-content-layout-category .img-radio-item:nth-child(odd) {
    margin-right: 0px !important;
}

.op-bsw-settings .op-content-layout-category .img-radio-item:nth-child(even) {
    margin-right: 25px !important;
}

.theme-style, .img-radio-item {
    float: left;
    margin-bottom: 25px;
}

.theme-select .img-radio-item {
    width: 246px;
}

.theme-styles .theme-style:nth-child(odd),
.img-radio-selector .img-radio-item:nth-child(odd) {
    float: left;
    clear: right;
}

.theme-styles .theme-style:nth-child(even),
.img-radio-selector .img-radio-item:nth-child(even) {
    float: left;
}

.theme-select .img-radio-item:nth-child(even) {
    float: left;
}

#op-meta-page-template .img-radio-selector .img-radio-item:nth-child(even),
.module-content_layouts .img-radio-selector .img-radio-item:nth-child(even) {
    float: left;
}

#op-meta-page-template .img-radio-selector .img-radio-item {
    margin-right: 10px;
}

.module-content_layouts .img-radio-selector .img-radio-item {
    margin-right: 20px;
}

.footer-columns.img-radio-selector .img-radio-item {
    float: left;
    margin-right: 20px;
    clear: none;
}

.module-content_layouts .img-radio-selector .img-radio-item  {
    float: none !important;
    display: inline-block;
    vertical-align: top;
}

.optimizepress_page_optimizepress-page-builder {
    min-width: 300px;
    background-color: #fff;
    padding: 15px 15px 0 0;
    box-sizing: border-box;
}

/**
 * Content upload page is differently stylized
 */
.optimizepress_page_optimizepress-page-builder.op-info-box-page {
    padding: 3px 14px;
    background-color: #f8f8f8;
}

.optimizepress_page_optimizepress-page-builder.op-info-box-page-white {
    padding: 0;
    border: none;
    background-color: #fff;
}

.op-iframe-full { width: 100%; }
.op-info-box-page label { font-weight: bold; }
.op-info-box-page .jquery-input-file-prettify label {
    font-weight: normal;
    font-size: 12px;
}

.op-info-box-page .install-help {
    margin: 0 0 15px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
}
.op-info-box-page input[type="submit"] {
    padding: 5px 10px;
    height: auto;
    cursor: pointer;
}
.op-info-box-page .one-half{
    width: calc(49% - 30px);
    float: left;
    padding: 0 30px 0 0;
}

.op-info-box-page .one-half:nth-child(2n + 1){
    width: calc(49%);
    padding-right: 0;
}

.op-info-box-page .op-create-from-preset{
    display: block;
    margin-top: 10px;
}

#content_layout_container,
#upload_new_layout_container {
    margin-top: 15px;
}

.op-info-box > #upload_new_layout_container { margin-top: 0; }

.op-notify.error + #content_layout_container:empty,
.op-notify.error + #upload_new_layout_container:empty,
.optimizepress_page_optimizepress-page-builder .op-notify.error {
    margin-top: 15px;
}

#content_layout_container:empty,
#upload_new_layout_container:empty {
    margin-top: 0;
}

.module-content_layouts .tab-upload iframe {
    max-width: 100%;
}

/**
 * Panels
 */
.op-bsw-grey-panel:hover {
    box-shadow: 0 1px 0px 1px rgba(0,0,0,0.05);
}

.op-bsw-grey-panel {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0px 0px 25px 0px;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.op-bsw-grey-panel:last-child {
    margin-bottom: 0px;
}

.op-bsw-grey-panel-header {
    background-color: #f2f2f2;
    box-shadow: inset 0 1px 0 0 #fff;
    height: 48px;
    padding-left: 25px;
}

.op-bsw-grey-panel-header h3 {
    color: #004a80 !important;
    font-size: 16px;
    font-weight: bold;
    float: left;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.op-bsw-grey-panel-content .op-bsw-grey-panel-no-sidebar {
    padding: 25px !important;
}

/**
 * Panels - Sidebar
 */
.op-bsw-grey-panel-sidebar {
    box-shadow: inset 0 0 -1px 0 #ccc;
    border-radius: 3px;
    width: 250px;
    position: relative;
    top: 0 !important;
    right: -300px !important;
    z-index: 5;
}

.op-bsw-grey-panel-sidebar ul {
    border-bottom: 1px solid #ffffff;
}

.op-bsw-grey-panel-sidebar li {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ffffff;
    margin: 0px;
}

.op-bsw-grey-panel-sidebar li:first-child {
    border-top: 0px;
}

.op-bsw-grey-panel-sidebar li:last-child {
    border-bottom: 0px;
}

.optimizepress_page_optimizepress-support .op-bsw-grey-panel-sidebar li:first-child {
    border-top: 1px solid #ccc;
}

.optimizepress_page_optimizepress-support .op-bsw-grey-panel-sidebar li:last-child {
    border-bottom: 1px solid #ccc;
}

.op-bsw-grey-panel-sidebar li a {
    color: #000;
    padding: 15px 25px !important;
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.op-bsw-grey-panel-fixed > .op-bsw-grey-panel-content > .op-bsw-grey-panel-sidebar li a {
    background-position: 165px -29px;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}

.op-bsw-grey-panel-sidebar li a:hover {
    color: #004a80;
}

.op-bsw-grey-panel-sidebar li a:focus,
.op-bsw-grey-panel-sidebar li.op-bsw-grey-panel-tabs-selected a {
    background-color: #004a80!important;
    color: #fff !important;
    background-position: 140px 10px;
}

.op-bsw-grey-panel-sidebar li.op-bsw-grey-panel-tabs-selected:first-child a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.op-bsw-grey-panel-sidebar li.op-bsw-grey-panel-tabs-selected:last-child a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.op-bsw-grey-panel-fixed > .op-bsw-grey-panel-content > .op-bsw-grey-panel-sidebar li a:focus,
.op-bsw-grey-panel-fixed > .op-bsw-grey-panel-content > .op-bsw-grey-panel-sidebar li.op-bsw-grey-panel-tabs-selected a {
    color: #fff;
    background-position: 165px 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.op-bsw-grey-panel-tabs li a span {
    height: 16px;
    width: 16px;
    display: block;
    float: left;
    margin-right: 12px;
    position: relative;
    overflow: hidden;
    top: -2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**
 * Sidebar - Nested
 */
.op-bsw-grey-panel-tab-content-container > .op-bsw-grey-panel-tab-content .op-bsw-grey-panel-sidebar {
    width: auto !important;
    float: none;
    clear: both;
}

.op-bsw-grey-panel-tab-content-container > .op-bsw-grey-panel-tab-content .op-bsw-grey-panel-sidebar ul {
    border-bottom: 0px !important;
    box-shadow: inset -1px 0 0 0 #f2f2f2;
}

.op-bsw-grey-panel-tab-content-container > .op-bsw-grey-panel-tab-content .op-bsw-grey-panel-sidebar li {
    display: inline-block;
    margin-right: -4px !important;
    border: 0px !important;
    box-shadow: inset 0 0 0 1px #ccc, inset 0 2px 0 0 #fff !important;
}

.op-bsw-grey-panel-tab-content-container > .op-bsw-grey-panel-tab-content .op-bsw-grey-panel-sidebar li a {
    font-size: 12px !important;
}

.op-bsw-grey-panel-tab-content-container .op-bsw-grey-panel-tab-content-container {
    float: none;
    width: 437px !important;
    border-top: 0px !important
}

/**
 * Sidebar - Nested - Full Width
 */
.op-bsw-main-content > .op-bsw-grey-panel > .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar,
.op-bsw-main-content .op-bsw-grey-panel-hide .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar {
    width: auto !important;
    float: none;
    right: 0 !important;
    background-color: #f2f2f2;
    margin-left: -1px;
}

.op-bsw-main-content > .op-bsw-grey-panel > .op-bsw-grey-panel-content .op-bsw-grey-panel-tabs,
.op-bsw-main-content .op-bsw-grey-panel-hide .op-bsw-grey-panel-content .op-bsw-grey-panel-tabs {
    margin: 0px;
}

.op-bsw-main-content > .op-bsw-grey-panel > .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar ul,
.op-bsw-main-content .op-bsw-grey-panel-hide .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar ul {
    border-bottom: 0px !important;
    box-shadow: inset -1px 0 0 0 #f2f2f2;
}

.op-bsw-main-content > .op-bsw-grey-panel > .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li,
.op-bsw-main-content .op-bsw-grey-panel-hide .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li {
    display: inline-block;
    margin-right: -4px !important;
    border: 0px !important;
    box-shadow: inset 0 0 0 1px #ccc, inset 0 2px 0 0 #fff !important;
}

.op-bsw-main-content > .op-bsw-grey-panel > .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li.op-bsw-grey-panel-tabs-selected:first-child a,
.op-bsw-main-content > .op-bsw-grey-panel > .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li.op-bsw-grey-panel-tabs-selected:last-child a,
.op-bsw-main-content .op-bsw-grey-panel-hide .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li.op-bsw-grey-panel-tabs-selected:first-child a,
.op-bsw-main-content .op-bsw-grey-panel-hide .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li.op-bsw-grey-panel-tabs-selected:last-child a {
    border-radius: 0px !important;
}


.op-bsw-main-content > .op-bsw-grey-panel > .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li a,
.op-bsw-main-content .op-bsw-grey-panel-hide .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li a {
    font-size: 12px !important;
}

.op-bsw-main-content > .op-bsw-grey-panel > .op-bsw-grey-panel-content .op-bsw-grey-panel-tab-content-container,
.op-bsw-main-content .op-bsw-grey-panel-hide .op-bsw-grey-panel-content .op-bsw-grey-panel-tab-content-container  {
    float: none;
    width: auto !important;
    border-top: 0px !important;
    margin: 25px;
}

.op-bsw-grey-panel-hide .op-type-html_content .op-bsw-grey-panel-tab-content-container {
    margin: 0px !important;
    padding: 0px !important;
}


/**
 * Panel
 */
.op-bsw-grey-panel-content .op-bsw-grey-panel:first-child{
    margin-top: 0px;
}

.op-bsw-grey-panel-content > label:first-of-type,
.op-bsw-grey-panel-content > h3:first-of-type,
.op-bsw-grey-panel-content .tab-theme .preview-option,
.op-bsw-grey-panel-content .section-column_layout .img-radio-selector,
.section-column_layout .img-radio-selector {
    margin-top: 0px !important;
}

.op-bsw-grey-panel-content .typography .color-picker-container {
    position: static !important;
    margin-top: 15px !important;
}

.tab-global_settings .op_sections_default_typography_text_decoration {
    margin-top: 15px !important;
}

.section-advertising a.button,
.section-scripts select {
    margin-bottom: 15px !important;
}

.section-stage img.icon {
    display: none;
}

.op-bsw-settings .img-radio-item:hover a img {
    top: -80px;
}

.op-bsw-setup .img-radio-item:hover a img {
    top: -80px;
}

/**
 * Blog Settings
 */
.op-bsw-settings .op-bsw-grey-panel-sidebar {
    background-color: #f2f2f2;
    border: 0px;
    border-radius: 0px;
    margin-left: -1px;
    position: static;
    float: left;
    width: 250px;
}

.op-bsw-settings .op-bsw-grey-panel-tabs {
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 -1px 0 #ccc;
    border-top: 1px solid #ccc;
}

.op-bsw-settings .op-bsw-grey-panel-tabs span {
    display: none;
}

.op-bsw-settings .op-bsw-grey-panel-sidebar .op-bsw-grey-panel-tabs-selected {
    border-bottom: 1px solid #004a80;
}

.op-bsw-settings .op-bsw-grey-panel-sidebar .op-bsw-grey-panel-tabs-selected:first-child a,
.op-bsw-settings .op-bsw-grey-panel-sidebar .op-bsw-grey-panel-tabs-selected:last-child a {
    border-radius: 0px !important;
}

.op-bsw-settings .op-bsw-grey-panel-tab-content-container {
    float: left;
    padding: 25px !important;
    width: 489px;
    border-top: 1px solid #ccc;
}

.op-bsw-settings .op-bsw-blog-status {
    float: left;
    padding: 0;
    margin: 24px 0 0 25px;
    border: 0;
}

.op-bsw-settings .op-bsw-blog-status p > span {
    float: left;
    margin-top: 6px;
    color: rgba(255, 255, 255, .75);
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 0 1px #000, 0 0 1px #000, 0 1px 1px #000;
}

.op-bsw-settings .op-bsw-blog-status .ibutton-container {
    float: left;
    margin-left: 10px;
    border: 1px solid rgba(255, 255, 255, .25);
}

.op-bsw-settings .op-bsw-grey-panel-fixed > .op-bsw-grey-panel-content > .op-bsw-grey-panel-tab-content-container > .op-bsw-grey-panel-tab-content > h2 {
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.op-bsw-settings .has-error {
    position: relative;
}

.op-bsw-settings .has-error:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 42px;
    background-color: #b20000;
    pointer-events: none;
}

.op-bsw-settings .has-error:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../images/notify-error.png);
    border-radius: 50%;
    height: 23px;
    width: 23px;
    top: 13px;
    right: 9px;
    pointer-events: none;
}

.op-bsw-grey-panel.has-error:before {
    height: 48px;
    border-radius: 0 2px 0 0;
}

.op-bsw-grey-panel.has-error .op-bsw-panel-controls-help {
    margin-right: 40px;
}

.op-bsw-grey-panel.has-error > .op-bsw-grey-panel-content > .error:first-child {
    margin-top: 0;
}


/**
 * Blog Setup - Breadcrumb Steps
 */
.op-bsw-steps {
    margin: 0;
    padding: 0;
}

.op-bsw-steps-content {
    background-color: #f2f2f2;
    display: block;
    width: 100%;
    padding-top: 0px !important;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
}

.op-bsw-steps ul {
    margin: 25px;
    width: 688px;
    list-style: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 48px;
    position: relative;
    left: 25px;
}

.op-bsw-steps li {
    padding: 0;
    display: block;
    float: left;
    position: relative;
    top: -1px;
    left: -25px;
    width: 172px;
}

.op-bsw-steps ul li:last-child {
    width: 50px;
    margin-right: -50px;
}

.op-bsw-steps span {
    display: inline-block;
    margin: -10px 20px 0 10px;
    position: relative;
    top: -3px;
    font-weight: bold;
    color: #ccc;
    font-size: 16px;
}

.op-bsw-steps li.step-5 span {
    display: none;
}

.op-bsw-steps img {
    position: relative;
    top: 12px;
    opacity: .25;
}

.op-bsw-circle {
    border: 4px solid #ccc;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    height: 42px;
    width: 42px;
}

.op-bsw-circle h1 {
    margin-top: 13px;
    font-size: 28px;
    color: #ccc;
}

.op-bsw-steps ul li.selected h1,
.op-bsw-steps ul li.selected span {
    color: #004a80;
}

.op-bsw-steps li.selected img {
    opacity: 1;
}

.op-bsw-steps ul li.selected .op-bsw-circle {
    border-color: #004a80;
}

.op-bsw-steps ul li.step-5.selected .op-bsw-circle {
    border-color: green;
}


/**
 * Launch Suite
 */
.op-launch-settings {
    margin: 0;
}

.op-launch-settings .op-bsw-grey-panel-tab-content-container {
    padding-top: 0px !important;
}

.op-launch-settings .op-bsw-grey-panel-tab-content-container .op-bsw-grey-panel-tab-content-container {
    padding-top: 25px !important;
}

.op-launch-settings .op-bsw-grey-panel-tab-content-container .op-bsw-grey-panel-tab-content-container .op-bsw-grey-panel:first-child {
    margin-top: 0px !important;
}

.op-launch-settings .op-bsw-grey-panel-tab-content-container .op-bsw-grey-panel:first-child {
    margin-top: 25px;
}

#launch_suite_add_section-container {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #fff;
    display: block;
    height: 74px;
    margin: 25px 0;
    padding: 24px 0 0 0;
    text-align: center;
}

#launch_suite_add_section {
    background: #595959;
    background: linear-gradient(to bottom, #595959 0%, #525252 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#525252',GradientType=0 );
    box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.1), inset 0 1px 0 0 rgba(255,255,255,0.1), 0 1px 0 0 rgba(0,0,0,0.1);
    border: 1px solid #000;
    border-radius: 3px;
    height: 40px;
    width: auto;
    padding: 8px 23px 0px 23px;
    margin: 0 14px;
    font-size: 16px !important;
    font-weight: bold;
    color: #fff !important;
    text-shadow: 0 0 1px #000, 0 0 1px #000, 0 1px 1px #000;
    text-decoration: none;
    display: inline-block;
}

#launch_suite_add_section:hover {
    background: #595959;
    background: linear-gradient(to bottom, #616161 0%, #595959 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#595959',GradientType=0 );
    box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.1), inset 0 1px 0 0 rgba(255,255,255,0.1), 0 1px 0 0 rgba(0,0,0,0.25);
}

#launch_suite_add_section:active {
    position:  relative;
    top: 1px;
}

#launch_suite_add_section img {
    position: relative;
    top: 5px;
}

#launch_suite_add_section span {
    padding-left: 10px;
}

.op-launch-settings #funnel_select {
    height: auto !important;
}

#launch_funnel_new .op-waiting {
    float: left;
}

.op-launch-settings .section-stage .op-bsw-grey-panel-header .op-bsw-panel-controls .show-hide-panel {
    background-color: transparent !important;
    border: 0px !important;
    display: block !important;
    position: relative;
    top: 8px;
    right: 18px;
}

#op-video-help video { display: block; }
.op-hidden { display: none; }


/**
 * Styles Not Yet Sorted
 */
.op-bsw-grey-panel-header .op-bsw-panel-controls { float: right; width: 150px; }
.op-bsw-grey-panel-content .op-bsw-grey-panel-content .op-bsw-grey-panel-header .op-bsw-panel-controls { width: auto; }
.op-bsw-grey-panel-content .op-bsw-grey-panel-content .op-bsw-grey-panel-header .show-hide-panel,
.op-live-editor .op-bsw-grey-panel-content .op-bsw-grey-panel-header .show-hide-panel { display: none; }

.op-bsw-grey-panel-fixed > .op-bsw-grey-panel-content > .op-bsw-grey-panel-tab-content-container > .op-bsw-grey-panel-tab-content > .help-video {
    float: right;
    padding: 4px 4px 0px 4px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #fff;
}

.op-help-vid { cursor: pointer; }

.op-bsw-grey-panel-fixed > .op-bsw-grey-panel-content > .op-bsw-grey-panel-tab-content-container > .op-bsw-grey-panel-tab-content > .help-video img { opacity: 0.5; }
.op-bsw-grey-panel-fixed > .op-bsw-grey-panel-content > .op-bsw-grey-panel-tab-content-container > .op-bsw-grey-panel-tab-content > .help-video img:hover { opacity: 1; }

.op-bsw-grey-panel-fixed > .op-bsw-grey-panel-content > .op-bsw-grey-panel-tab-content-container > .op-bsw-grey-panel-tab-content > .help-video:hover { box-shadow: inset 0 1px 0 0 #fff, 0 1px 1px 0 rgba(0,0,0,0.1); }
.op-bsw-grey-panel-header .op-bsw-panel-controls-help { width: auto; }
.op-bsw-grey-panel-header .op-bsw-panel-controls-help .help-video { float: right; margin-top: 13px; margin-right: 23px; opacity: 0.5; }
.op-bsw-grey-panel-header .op-bsw-panel-controls-help .help-video:hover { opacity: 1; }

.op-bsw-wizard .help-video { -display: none; }

.op-bsw-grey-panel-content span.error {
    color: #D00;
    display: block;
    margin: 20px 0px;
}

.op-bsw-grey-panel-content .link-color-container .color-picker-container {
    float: left;
}

.op-bsw-grey-panel-content .link-color-container .op-checkbox-container {
    display: block;
    float: left;
    padding: 8px 30px;
}

.op-bsw-grey-panel-content .link-color-container .op-checkbox-container label,
.op-bsw-grey-panel-content .link-color-container .op-checkbox-container input {
    float: left;
    margin: 0px;
}

.op-bsw-grey-panel-content .link-color-container .op-checkbox-container input {
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.op-bsw-grey-panel-header h3 a {
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.op-bsw-grey-panel-header .iPhoneCheckContainer, .op-bsw-grey-panel-header .ibutton-container {
    float: left;
    margin: 10px 15px 0 0;
}

.op-bsw-grey-panel-header .show-hide-panel {
    display: none;
    float: right;
    border-left: 1px solid #f7f7f7;
    padding: 8px;
    width: 30px;
    height: 30px;
    margin: -8px -8px -8px 0px;
}

.op-bsw-grey-panel-no-content .op-bsw-grey-panel-header .show-hide-panel { border-left: transparent; }
.op-bsw-grey-panel-no-content .op-bsw-grey-panel-header .show-hide-panel:hover { background-color: transparent; }

.op-bsw-grey-panel-header .show-hide-panel a {
    background-image: url('../images/arrows.png');
    background-repeat: no-repeat;
    background-position: center 12px;
    height: 30px;
    width: 30px;
    display: block;
}

#launch_suite_pages .op-bsw-grey-panel-header .show-hide-panel a {
    background-image: url('../images/movecon.png');
    background-position: center center;
}

.op-bsw-grey-panel-header .show-hide-panel a.op-bsw-visible { background-position: center -48px; }
.op-bsw-grey-panel-header .panel-control {
    float: right;
    margin-right: 10px;
}

.section-color_scheme .op-bsw-grey-panel-content .color-schemes {
    max-height: 450px;
    overflow-y: scroll;
}

.section-color_scheme .op-bsw-grey-panel-content .thumb {
    position: relative;
}

.op-bsw-grey-panel-content.op-bsw-grey-panel-no-sidebar {
    background-image: none;
    padding-left: 15px;
}

.op-bsw-grey-panel-fixed > .op-bsw-grey-panel-content {
    background: url('../images/sidebar-background.png') top left repeat-y;
}

.op-bsw-grey-panel .op-bsw-grey-panel-fixed {
    padding-right: 300px;
}

.op-bsw-grey-panel-content label,
.op-live-editor .fancybox-inner label,
.field-id-op_assets_core_button_href label,
.field-id-op_assets_core_button_new_window label,
.op_asset_browser_slide label {
    font-size: 12px;
    margin: 15px 0px 5px;
    display: block;
    font-weight: bold;
}

.op-bsw-grey-panel-content > div:first-child > label:first-child { margin-top: 0; }
.op-bsw-grey-panel-content .op-type-switcher-container .op-type-file { margin: 15px 0px 5px; }
.op-bsw-grey-panel-content .op-type-switcher { margin: 15px 0px 5px; }

.op-bsw-grey-panel-content .add-new-row {
    padding-left: 20px;
    line-height: 20px;
    min-height: 20px;
    display: inline-block;
    background-image: url('../images/49.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin: 10px 0px;
}

.op-bsw-grey-panel-content .file-preview img {
    max-width: 100%;
    max-height: 500px;
}

.op-bsw-grey-panel-content .file-preview .preview-image {
    float: left;
    float: none;
    max-width: 100%;
    margin: 10px 0 20px;
    display: block;
}

.op-bsw-grey-panel-content .file-preview .preview-image {
    float: left;
    float: none;
    max-width: 100%;
    margin: 10px 0px 20px;
    display: block;
    border-radius: 4px;
    background: #FAFAFA !important;
    border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC !important;
    border-style: solid !important;
    border-width: 1px !important;
}

.op-bsw-grey-panel-content .op-multirow-list li {
    margin-bottom: 20px;
}

.op-bsw-grey-panel-content .op-multirow-list li select {
    margin-bottom: 5px;
}

.op-show-waiting {
    display: block;
}

.section-launch_funnel #launch_funnel_new .op-waiting {
    margin-top: 6px;
}

.ibutton-container label, .op-live-editor .fancybox-inner .ibutton-container label {
    display: inline;
    padding-top: 0px;
    font-weight: bold !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .ibutton-container label {
        font-weight: bold !important;
        position: relative;
        top: -3px;
    }

    .op-lightbox-content .ibutton-container label {
        font-weight: bold !important;
        top: 0px;
    }
}

.op-bsw-grey-panel-content textarea {
    min-height: 150px;
    max-width: 100%;
}

.op-bsw-grey-panel-content textarea {
    width: 100%;
}

.op-bsw-grey-panel-content input[type="text"] {
    max-width: 100%;
    width: 100%;
}

.op-bsw-grey-panel-content .tab-delete_stage {
    padding-top: 10px;
}

.op-bsw-grey-panel-content p.op-micro-copy {
    color: #000;
    margin-top: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.op-bsw-grey-panel-content .op-hr {
    border-top: 1px solid #CCC;
    margin: 20px 10px;
}

.op-insert-button button {
    cursor: pointer;
}

.op-bsw-grey-panel-content .op-hr hr {
    display: none;
}

.op-bsw-main-content .op-bsw-green-button,
.op-bsw-grey-panel-content .tab-delete_stage .delete-stage {
    background: #82d947;
    background: linear-gradient(to bottom, #82d947 0%, #75cf3a 24%, #4caf0b 85%, #46ab02 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82d947', endColorstr='#46ab02',GradientType=0 );
    border: 1px solid #87e328;
    outline: 1px solid #3d8110;
    line-height: 34px;
    height: 34px;
    padding: 0px 10px;
    margin: 0px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    border-radius: 0px;
}

/**
 * OptimizeLeads Box on Every Page Section
 */
.optimizeleads-sitewide-container { margin: 0 auto; }
.op-bsw-grey-panel-content .optimizeleads-sitewide-container--empty .error { margin: 0; }
.optimizeleads-sitewide-options select { margin: 5px 10px 0 0 !important; }
.optimizeleads-sitewide-options label:first-of-type { margin-top: 10px; }
.op-bsw-grey-panel-content .optimizeleads-sitewide-options .op-micro-copy { margin-top: 20px; }
.op-bsw-grey-panel-content .optimizeleads-sitewide-options .op-micro-copy:first-child { margin-top: 5px; }
.op-bsw-grey-panel-content .optimizeleads-sitewide-options .op-micro-copy:last-child { margin-bottom: 0; }
.op-bsw-main-content a.op-bsw-green-button {
    display: block;
    float: left;
    text-decoration: none;
}

.op-bsw-main-content .op-bsw-green-button:hover,
.op-bsw-main-content .op-bsw-green-button:focus,
.op-bsw-grey-panel-content .tab-delete_stage .delete-stage:hover {
    color: #fff;

}

.op-bsw-main-content .op-bsw-green-button:active,
.op-bsw-grey-panel-content .tab-delete_stage .delete-stage:active {
    background: #46ab02;
    background: linear-gradient(to bottom, #46ab02 0%, #4caf0b 15%, #75cf3a 76%, #82d947 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46ab02', endColorstr='#82d947',GradientType=0 );
}

.op-bsw-grey-panel-content .tab-delete_stage .delete-stage {
    margin-bottom: 10px;
    background: #cb1003;
    background: linear-gradient(to bottom, #cb1003 0%, #b40e02 44%, #960a00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb1003', endColorstr='#960a00',GradientType=0 );
    border: 1px solid #b40e02;
    outline: 1px #b40e02;
}

.op-bsw-grey-panel-content .tab-delete_stage .delete-stage:hover {
    border-color: #4F0000;
}

.op-bsw-grey-panel-content .tab-delete_stage .delete-stage:active {
    background: #960a00;
    background: linear-gradient(to bottom, #960a00 0%, #b40e02 56%, #cb1003 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#960a00', endColorstr='#cb1003',GradientType=0 );
}

.font-chooser {
    -margin-bottom: 10px;
}

.font-chooser select {
    float: left;
}

.font-chooser .color-picker-container,
.font-chooser .color-picker-container input,
.font-chooser .color-picker-container a {
    float: left;
}

.font-chooser .color-picker-container {
    margin: 0 !important;
}

.font-chooser .color-picker-container input {
    float: left;
    width: 65px;
}

.font-chooser .color-picker-container a {
    width: 5px;
    height: 20px;
}

.select-font {
    position: relative;
    float: left;
    margin: 0 10px 0 0;
    width: 200px;
}

.select-font .selected-font {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    padding: 12px 15px;
    height: 14px;
    overflow: hidden;
    width: 170px;
    color: #222;
}

.select-font .selected-font:hover {
    -background-color: #eee;
}

.op-bsw-wizard .op-layout-settings-select {
    height: 40px !important;
}

.op-bsw-wizard .op-layout-settings-select-style,
.op-bsw-wizard .op-layout-settings-select-shadow {
    margin-top: 10px !important;
}

.font-dropdown {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 200px;
    height: 300px;
    overflow-y: scroll;
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 9999;
    overflow-x: hidden;
}

.font-dropdown p {
    font-size: 16px;
    margin: 15px 0px 5px 0px;
    padding-left: 4px;
    color: #999;
    font-family: Helvetica, Arial, sans-serif;
}

.font-dropdown ul {
    padding: 0px;
}

.font-dropdown li a {
    border: 3px solid transparent;
    display: block;
    padding: 4px 20px;
    transition-property: padding, border;
    transition-duration: 0.5s;
}

.font-dropdown li a img {
    line-height: 40px;
    vertical-align: middle;
}

.font-dropdown li a:hover {
    background-color: #ecf4ff;
    -border: 3px solid #3399D1;
    transition-property: padding, border;
    transition-duration: 0.2s;
}

.op-bsw-grey-panel-content { display: none; }
.op-bsw-grey-panel-fixed > .op-bsw-grey-panel-content { display: block; }
.op-bsw-grey-panel-tab-content { display: none; }
.op-bsw-grey-panel-tab-content-selected { display: block; }

/* On support page we show the first tab content by default */
.optimizepress_page_optimizepress-support .op-bsw-grey-panel:first-child .op-bsw-grey-panel-content { display: block; }

.op-bsw-blog-status {
    border-bottom: 3px solid #f7f7f7;
    margin-bottom: 30px;
}

.op-bsw-blog-status-content {
    color: #0f87c9;
    border-bottom: 1px solid #e4e4e4;
}

.op-bsw-blog-status h2 {
    float: left;
}

.op-bsw-blog-status p {
    float: right;
}

.op-bsw-blog-status p > span {
    float: left;
    margin-right: 10px;
    margin-top: 7px;
    color: #8c8c8c;
    font-size: 14px;
}

.op-bsw-tabs {
    background: #ffffff;
    background: linear-gradient(to bottom, #ffffff 0%, #fefefe 47%, #f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
    padding-left: 10px;
}

.op-bsw-tabs li {
    display: inline;
    margin: 0px;
    display: block;
    float: left;
    border: 1px solid transparent;
    border-bottom: 0px;
}

.op-bsw-tabs li a {
    display: block;
    float: left;
    padding: 15px 20px;
    border: 3px solid transparent;
    border-bottom: 0px;
    color: #212120;
    font-size: 14px;
    text-decoration: none;
}

.op-bsw-tabs li.selected {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #dbdbdb;
    border-bottom: 0px;
}

.op-bsw-tabs li.selected a {
    border: 3px solid #f7f7f7;
    border-bottom: 0px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #0f87c9;
    font-weight: bold;
}

.op-bsw-tabs li:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #dbdbdb;
    border-bottom: 0px;
}

.op-bsw-tabs li:hover a {
    border: 3px solid #ececec;
    border-bottom: 0px;
    background-color: #ececec;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/**
 * Notication Bars
 */
.op-notify {
    display: block;
    position: relative;
    min-height: 41px;
    width: 100%;
    padding: 10px 15px;
    font-size: 12px;
    color: #fff !important;
    text-decoration: none !important;
    text-shadow: 0 0 1px rgba(0,0,0,0.3), 0 0 1px rgba(0,0,0,0.3), 0 1px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#1a000000',GradientType=0 );
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15);
}

.op-notify + .op-notify {
    margin-top: 15px;
}

.op-notify:hover {
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15), 0 1px 0 0 rgba(0,0,0,0.2);
}

.op-notify + .op-bsw-grey-panel {
    margin-top: 25px;
}

.op-notify img {
    margin-top: -12px;
    position: absolute;
    top: 50%;
    left: 15px;
}

.op-notify span {
    display: inline-block;
    margin-bottom: 3px;
    position: relative;
    top: 3px;
    margin-left: 30px;
    margin-right: 30px;
}

.op-notify a {
    color: #fff !important;
}

.op-notify-close {
    display: inline-block;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    right: 14px;
    height: 23px;
    width: 23px;
    background: url("../images/notify-close.png") 0 0 no-repeat;
    cursor: pointer;
}

.op-notify:hover .op-notify-close {
    background-position: 0 -23px;
}

.op-notify.success { background-color: #008c00; }
.op-notify.error { background-color: #b20000; padding: 10px 15px; margin: 0; border: 0 none; }
.op-notify.warning { background-color: #d9a300; }

.op-msg-success { color: #008c00; }
.op-msg-error { color: #b20000; }
.op-msg-warning { color: #d9a300; }

.op-info-box > .op-notify {
  margin: 10px;
  width: auto;
}

.op-signup_form-form_html input {
    float: left;
    margin-right: 5px;
}

.op-bsw-grey-panel-content .op-signup_form-form_html label {
    float: left;
    margin: 0px 8px 0px 0px;
}

.op-bsw-grey-panel-content .op-signup_form-form_html select {
    position: relative;
    top: -4px;
}

.op-signup_form-form_html .form_html_field_with_order {
    width: 70% !important;
    display: inline-block;
    float: left;
    clear: both;
}

.form_html_info_field,
.op-signup_form-form_html .form_html_info_field {
    clear: both;
    width: 100% !important;
    float: none;
    color: #999;
    font-style: italic;
}

.form_html_info_field > p {
    margin-top: -5px;
}

.form_html_field_order + .form_html_info_field > p {
    margin-top: 0;
}

.op-signup_form-form_html .form_html_field_order,
.op-signup_form-form_html_email .email_data_extra_fields .form_html_field_order,
.tab-modules .op-signup_form-form_html_email .form_html_field_order {
    width: 25% !important;
    float: right !important;
}

.op-signup_form-form_html .form_html_field_order input,
.op-signup_form-form_html_email .email_data_extra_fields .form_html_field_order input {
    height: 40px !important;
}

.op-signup_form-form_html_email .email_data_extra_fields > label {
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: block;
    clear: both;
    padding: 5px 0 0;
    margin-bottom: 11px;
}

.op-signup_form-form_html_email .email_data_extra_fields .op-multirow {
    margin-bottom: 10px;
}

.op-signup_form-form_html_email .email_data_extra_fields .op-multirow-controls {
    clear: both;
    padding: 7px 0 0;
}

.op-signup_form-form_html .form_html_field select {
    width: 100% !important;
    padding: 10px;
    font-size: 15px;
    top: 0;
    height: 40px !important;
}

.op-signup_form-form_html_email .form_html_field_order {
    width: 100% !important;
}

#op_home_feature_video_optin_signup_form_autoresponder_name,
#op_home_feature_video_optin_signup_form_thank_you_page {
    margin-bottom: 1em;
}

.provider_list_note p {
    margin-top: 0;
    font-style: italic;
}

.img-radio-item input[type="radio"] { display: none }
.op-bsw-grey-panel-content.op-bsw-grey-panel-no-sidebar {
    background: none;
    border-top: 1px solid #ccc;
    padding: 25px;
}

.module-signup_form .preview {
    display: block;
    float: none;
    width: 280px;
    height: 366px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 15px auto;
}

.op-bsw-waiting { display: none }
.op-bsw-blog-status-content .op-bsw-waiting { float: left; margin: 5px 0 0 5px }
.op-bsw-blog-status-content .iPhoneCheckContainer { clear: both; float: left }

.op-bsw-blog-status-content .ibutton-container { float: right; margin-left: 10px; }

#op_blog_header_site_title {
    margin-bottom: 15px;
}

.module-video .video-preview {
    display: none;
    height: 220px;
    text-align: center;
    width: 400px;
    background-position: center center;
    background-repeat: no-repeat;
}

.color-picker-container a.pick-color {
    border-radius: 3px;
    height: 38px;
    width: 38px;
    margin: 1px 15px 0 10px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}

.color-picker-container {
    margin: 0px !important;
    max-height: 40px !important;
}

#op-color-picker-1 {
    z-index: 9999;
    background: #eee;
    border: 1px solid #ccc;
    position: absolute;
    display: none;
}

#op_info_bar_rss {
    margin-bottom: 10px;
}

.default-val-link {
    font-size: 12px;
    margin-bottom: 10px;
}

.section-info_bar .op-bsw-info-bar {
    padding-bottom: 10px;
}

.op-bsw-wizard .color-picker-container,
.op-live-editor .color-picker-container {
    position: relative;
    top: 0px;
}

.op-bsw-wizard .color-picker-container input {
    float: left;
}

.op-bsw-wizard .color-picker-container input,
.op-bsw-wizard .color-picker-container .pick-color {
    float: left;
}

.reset-link {
    clear: both;
}

.help-video-container { display: none }

#op-post-seo_meta input[type="text"],
#op-post-seo_meta textarea {
    display: block;
    min-width: 300px;
}

#op-post-page_template .img-radio-item {
    float: left;
    margin-right: 20px;
}

.op-checkbox-container input {
    float: left;
    margin-right: 6px;
}

.section-comments .op-checkbox-container input {
    *position: relative;
    *top: 10px;
}

#op-settings-container .panel-control {
    margin-bottom: 30px;
}

/**
 * Post Page - OptimizePress Settings
 */
#op-settings-container .inside {
    width: 90%;
    margin: 25px 15px;
}

#op-settings-container h4 {
    font-weight: bold;
    font-size: 12px !important;
    padding-bottom: 3px;
    margin: 20px 0px 10px 0px;
    color: #000 !important;
}

#op-settings-container label {
    font-weight: bold;
}

#op-settings-container p {
    color: #888;
}

#op-settings-container textarea,
#op-settings-container input[type="text"] {
    display: block;
    width: 300px;
    margin: 10px 0px 20px;
}

#op-settings-container #op-meta-scripts textarea {
    margin-bottom: 10px;
}

.op-pb-wizard .op-file-uploader .button,
.op-pb-wizard .op-file-uploader .submit input,
.op-pb-wizard .op-file-uploader .button-secondary {
    text-decoration: none;
    font-size: 12px !important;
    line-height: 13px;
    padding: 3px 8px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 11px;
    box-sizing: content-box;
}


.op-asset-dropdown {
    padding-top: 10px;
    background-color: #fff;
    margin: 0px;
    min-width: 190px;
}

.op-asset-dropdown.light-text > a {
    background-color: #21759B;
}

.op-asset-dropdown img {
    max-width: 600px;
    max-height: 50%;
}

.op-asset-dropdown .selected-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    padding: 4px;
    color:#222222;
}

.op-asset-dropdown .selected-item:hover {
    border: 1px solid #3399D1;
}

.op-asset-dropdown-list {
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 200px;
    max-width: 100%;
    height: 300px;
    overflow-y: scroll;
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 9999;
    list-style: none;
}

#op_assets_core_divider_style_container .selected-item {
    padding: 20px 10px;
}

select {
    margin: 0 10px 0 0 !important;
    width: auto !important;
}


.font-chooser select {
    height: 40px !important;
    padding: 10px 4px 10px 0;
}

.font-chooser > select:last-child {
    margin-right: 0;
}

.font-chooser > select, .font-chooser > div {
    float: left;
    margin-right: 6px;
}

.font-chooser {
    padding-top: 6px;
}

.field-textarea textarea {
    display: block;
    width: 600px;
}

.font-chooser .op-asset-dropdown {
    padding-top: 0px;
}

.font-chooser select {
    margin-top: 4px;
}

.op-asset-dropdown-list p {
    font-size: 16px;
    margin: 15px 0px 5px 0px;
    padding-left: 4px;
    color: #999;
    font-family: Helvetica, Arial, sans-serif;
}

.op-asset-dropdown-list ul {
    padding: 0px;
}

.op-asset-dropdown-list li a {
    border: 4px solid transparent;
    border: 4px solid rgba(0,0,0,.01);
    display: block;
    padding: 15px 0px;
    min-height: 50px;
    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
    transition-property: padding, border;
    transition-duration: 0.5s;
    background-color: #fff
}

.op-asset-dropdown-list li .op-asset-img-loaded {
    background-image: none;
}

.op-asset-dropdown-list li a img {
    line-height: 40px;
    vertical-align: middle;
    background-color: #fff;
    visibility: hidden;
}

.op-asset-dropdown-list li .op-asset-img-loaded img {
    visibility: visible;
}

.op-asset-dropdown-list li a:hover, .op-asset-dropdown-list li a.selected, .op-asset-dropdown-list li a.selected:hover {
    border: 4px solid #004a80;
    border-radius: 3px;
    transition-property: padding, border;
    transition-duration: 0.2s;
}

.op-asset-dropdown-list li a:focus,
.op-asset-dropdown-list li a:hover {
    border-color: #ccc;
}

.width-main-sidebar a.default-val-link { margin-top: 15px !important; }

.module-help-text {
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

/**
 * Tooltip
 */
.tooltipster-default {
    border-radius: 6px;
    -border: 1px solid #000;
    background: rgba(0,0,0,0.9);
    color: #fff;
}

.tooltipster-default .tooltipster-content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    text-shadow: 0 0 1px #000, 0 0 1px #000, 0 1px 1px #000;
    overflow: hidden;
    padding: 10px 15px;
}

.tooltipster-icon {
    cursor: help;
    margin-left: 4px;
}

.tooltipster-base {
    font-size: 0;
    line-height: 0;
    position: absolute;
    z-index: 9999999;
    pointer-events: none;
    width: auto;
    overflow: visible;
    padding: 0;
}

.tooltipster-base .tooltipster-content {
    overflow: hidden;
}

.tooltipster-arrow {
    display:block;
    text-align:center;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}

.tooltipster-arrow span,
.tooltipster-arrow-border {
    display:block;
    width:0;
    height:0;
    position:absolute;
}

.tooltipster-arrow-top span,
.tooltipster-arrow-top-right span,
.tooltipster-arrow-top-left span {
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    border-top: 8px solid;
    bottom: -8px;
}

.tooltipster-arrow-top .tooltipster-arrow-border,
.tooltipster-arrow-top-right .tooltipster-arrow-border,
.tooltipster-arrow-top-left .tooltipster-arrow-border {
    border-left: 9px solid transparent !important;
    border-right: 9px solid transparent !important;
    border-top: 9px solid;
    bottom: -8px;
}

.tooltipster-arrow-bottom span,
.tooltipster-arrow-bottom-right span,
.tooltipster-arrow-bottom-left span {
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    border-bottom: 8px solid;
    top: -8px;
}

.tooltipster-arrow-bottom .tooltipster-arrow-border,
.tooltipster-arrow-bottom-right .tooltipster-arrow-border,
.tooltipster-arrow-bottom-left .tooltipster-arrow-border {
    border-left: 9px solid transparent !important;
    border-right: 9px solid transparent !important;
    border-bottom: 9px solid;
    top: -8px;
}

.tooltipster-arrow-top span,
.tooltipster-arrow-top .tooltipster-arrow-border,
.tooltipster-arrow-bottom span,
.tooltipster-arrow-bottom .tooltipster-arrow-border {
    left: 0;
    right: 0;
    margin: 0 auto;
}

.tooltipster-arrow-top-left span,
.tooltipster-arrow-bottom-left span{ left: 6px; }

.tooltipster-arrow-top-left .tooltipster-arrow-border,
.tooltipster-arrow-bottom-left .tooltipster-arrow-border { left: 5px; }

.tooltipster-arrow-top-right span,.tooltipster-arrow-bottom-right span { right: 6px; }
.tooltipster-arrow-top-right .tooltipster-arrow-border,
.tooltipster-arrow-bottom-right .tooltipster-arrow-border { right: 5px; }

.tooltipster-arrow-left span,
.tooltipster-arrow-left .tooltipster-arrow-border {
    border-top: 8px solid transparent !important;
    border-bottom: 8px solid transparent !important;
    border-left: 8px solid;
    top: 50%;
    margin-top: -7px;
    right: -8px;
}

.tooltipster-arrow-left .tooltipster-arrow-border {
    border-top: 9px solid transparent !important;
    border-bottom: 9px solid transparent !important;
    border-left: 9px solid;
    margin-top: -8px;
}

.tooltipster-arrow-right span,
.tooltipster-arrow-right .tooltipster-arrow-border {
    border-top: 8px solid transparent !important;
    border-bottom: 8px solid transparent !important;
    border-right: 8px solid;
    top: 50%;
    margin-top: -7px;
    left: -8px;
}

.tooltipster-arrow-right .tooltipster-arrow-border {
    border-top: 9px solid transparent !important;
    border-bottom: 9px solid transparent !important;
    border-right: 9px solid;
    margin-top: -8px;
}

.tooltipster-grow {
    transform: scale(0,0);
    transition-property: transform;
    backface-visibility: hidden;
}

.tooltipster-grow-show {
    transform: scale(1,1);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-content-changing {
    opacity: 0.5;
    transform: scale(1.1, 1.1);
}


/**
 * OptimizeLeads Element Styles
 */
.optimizeleads-boxes-list {
    margin: 0;
}

/*
.op-optimizeleads-styles {
.op-optimizeleads-styles .op-asset-dropdown {
*/
.op-settings-core-optimizeleads .loading-asset-dropdown {
    display: none;
    /*min-height: 40px;*/
}

/*.op-settings-core-optimizeleads,*/
/*#op_asset_browser_container .op-settings-core-optimizeleads .op-asset-actual-content,*/
.op-optimizeleads-styles {
    min-height: 40px;
    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center 15px;
}

.op-optimizeleads-styles .op-asset-dropdown .op-asset-dropdown-list ul .optimizeleads-boxes-list-item,
.optimizeleads-boxes-list-item {
    margin: 80px auto;
    border-radius: 3px;
    transition-property: padding, border;
    transition-duration: 0.2s;
    text-align: center;
    position: relative;

    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
}

.optimizeleads-boxes-list-item:first-child,
.op-optimizeleads-styles .op-asset-dropdown .op-asset-dropdown-list ul .optimizeleads-boxes-list-item:first-child { margin-top: 30px; }

.optimizeleads-boxes-list-item:last-child,
.op-optimizeleads-styles .op-asset-dropdown .op-asset-dropdown-list ul .optimizeleads-boxes-list-item:last-child { margin-bottom: 0; }

.optimizeleads-boxes-list-item a,
.op-asset-dropdown-list .optimizeleads-boxes-list-item a {
    padding: 0;
    display: block;
    height: 100%;
    box-sizing: border-box;

    width: 100%;
    height: 300px;
    box-sizing: border-box;
    text-decoration: none;
    border: 4px solid #dcdcdc;
    background-image: url('../images/live_editor/optimizeleads-box-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

.op-asset-dropdown-list .optimizeleads-boxes-list-item a:focus,
.op-asset-dropdown-list .optimizeleads-boxes-list-item a:hover { border: 4px solid #004a80; }

.optimizeleads-boxes-list-item h3 {
    margin-bottom: 0;
    padding-bottom: 10px;
    position: relative;
    top: -40px;
}

.optimizeleads-embed-code-loading {
    text-align: center;
    min-height: 0;
    margin-top: 20px;
    padding-top: 30px;
    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center top;
}

#op_asset_browser_container .optimizeleads-embed-code--hidden { opacity: 0; }
#op_asset_browser_container .optimizeleads-no-boxes--hidden,
#op_asset_browser_container .optimizeleads-no-api-key--hidden { display: none; }
#op_asset_browser_container .optimizeleads-invalid-api-key--hidden { display: none; }
#op_asset_browser_container .field-row.optimizeleads-embed-code-loading--hidden { display: none; }
#op_asset_browser_container .optimizeleads-embed-code textarea { height: 150px; }
#op_asset_browser_container .gmaps-no-api-key--hidden { display: none; }

.op-asset-dropdown-list .optimizeleads-boxes-list-item a img {
    visibility: visible;
    background: none;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
}

.optimizeleads-boxes-list-item img {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 60%;
    max-height: 60%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

.optimizeleads-boxes-list-item .preview-position-top {
    top: 4px;
    transform: translate(-50%, 0);
}

.optimizeleads-boxes-list-item .preview-position-bottom {
    top: auto;
    bottom: 4px;
    transform: translate(-50%, 0);
}

.optimizeleads-boxes-list-item .preview-position-right {
    left: auto;
    right: 4px;
    transform: translate(0, -50%);
}

.optimizeleads-boxes-list-item .preview-position-left {
    left: 4px;
    right: auto;
    transform: translate(0, -50%);
}

.optimizeleads-boxes-list-item .preview-position-top-right {
    left: auto;
    right: 4px;
    top: 4px;
    transform: none;
}

.optimizeleads-boxes-list-item .preview-position-top-left {
    left: 4px;
    top: 4px;
    transform: none;
}

.optimizeleads-boxes-list-item .preview-position-bottom-right {
    top: auto;
    left: auto;
    right: 4px;
    bottom: 4px;
    transform: none;
}

.optimizeleads-boxes-list-item .preview-position-bottom-left {
    top: auto;
    left: 4px;
    bottom: 4px;
    transform: none;
}

.optimizeleads-boxes-list-item .preview-position-cover {
    max-width: none;
    max-height: none;
    height: 100%;
    height: calc(100% - 8px);
    width: 100%;
    width: calc(100% - 8px);
    object-fit: cover;
}

.optimizeleads-boxes-list-item .preview-stretch {
    max-width: 100%;
    max-width: calc(100% - 8px);
    max-height: 100%;
    max-height: calc(100% - 8px);
}


/**
 * Loading indicator animation
 */
@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

.op-loader {
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 50%;
    background: transparent;

    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    transition: opacity .2s ease-in-out;
    animation: loading 1.2s infinite linear;
}


/**
 * Animations
 */
.animated:active { animation-fill-mode: both; animation-duration: 1s }
.animated.hinge { animation-duration: 2s }
@keyframes flash {
    0%, 50%, 100% { opacity: 1 }
    25%, 75% { opacity: 0 }
}
.flash { animation-name: flash }
@keyframes shake {
    0%, 100% { transform: translateX(0) }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px) }
    20%, 40%, 60%, 80% { transform: translateX(10px) }
}
.shake { animation-name: shake }
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0) }
    40% { transform: translateY(-30px) }
    60% { transform: translateY(-15px) }
}
.bounce { animation-name: bounce }
@keyframes tada {
    0% { transform: scale(1) }
    10%, 20% { transform: scale(0.9) rotate(-3deg) }
    30%, 50%, 70%, 90% { transform: scale(1.1) rotate(3deg) }
    40%, 60%, 80% { transform: scale(1.1) rotate(-3deg) }
    100% { transform: scale(1) rotate(0) }
}
.tada { animation-name: tada }
@keyframes swing {
    20% { transform: rotate(15deg) }
    40% { transform: rotate(-10deg) }
    60% { transform: rotate(5deg) }
    80% { transform: rotate(-5deg) }
    100% { transform: rotate(0deg) }
}
.swing { transform-origin: top center; animation-name: swing }
@keyframes wobble {
    0% { transform: translateX(0%) }
    15% { transform: translateX(-25%) rotate(-5deg) }
    30% { transform: translateX(20%) rotate(3deg) }
    45% { transform: translateX(-15%) rotate(-3deg) }
    60% { transform: translateX(10%) rotate(2deg) }
    75% { transform: translateX(-5%) rotate(-1deg) }
    100% { transform: translateX(0%) }
}
.wobble { animation-name: wobble }
@keyframes wiggle {
    0% { transform: skewX(9deg) }
    10% { transform: skewX(-8deg) }
    20% { transform: skewX(7deg) }
    30% { transform: skewX(-6deg) }
    40% { transform: skewX(5deg) }
    50% { transform: skewX(-4deg) }
    60% { transform: skewX(3deg) }
    70% { transform: skewX(-2deg) }
    80% { transform: skewX(1deg) }
    90% { transform: skewX(0deg) }
    100% { transform: skewX(0deg) }
}
.wiggle { animation-name: wiggle; animation-timing-function: ease-in }
@keyframes pulse {
    0% { transform: scale(1) }
    50% { transform: scale(1.1) }
    100% { transform: scale(1) }
}
.pulse { animation-name: pulse }
@keyframes flip {
    0% { transform: perspective(400px) rotateY(0); animation-timing-function: ease-out }
    40% { transform: perspective(400px) translateZ(150px) rotateY(170deg); animation-timing-function: ease-out }
    50% { transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1); animation-timing-function: ease-in }
    80% { transform: perspective(400px) rotateY(360deg) scale(.95); animation-timing-function: ease-in }
    100% { transform: perspective(400px) scale(1); animation-timing-function: ease-in }
}
.flip {
    transform-style: preserve-3d;
    backface-visibility: visible !important;
    animation-name: flip;
}
@keyframes flipInX {
    0% { transform: perspective(400px) rotateX(90deg); opacity: 0 }
    40% { transform: perspective(400px) rotateX(-10deg) }
    70% { transform: perspective(400px) rotateX(10deg) }
    100% { transform: perspective(400px) rotateX(0deg); opacity: 1 }
}
.flipInX {
    backface-visibility: visible !important;
    animation-name: flipInX;
}
@keyframes flipOutX {
    0% { transform: perspective(400px) rotateX(0deg); opacity: 1 }
    100% { transform: perspective(400px) rotateX(90deg); opacity: 0 }
}
.flipOutX {
    animation-name: flipOutX;
    backface-visibility: visible !important;
}
@keyframes flipInY {
    0% { transform: perspective(400px) rotateY(90deg); opacity: 0 }
    40% { transform: perspective(400px) rotateY(-10deg) }
    70% { transform: perspective(400px) rotateY(10deg) }
    100% { transform: perspective(400px) rotateY(0deg); opacity: 1 }
}
.flipInY {
    backface-visibility: visible !important;
    animation-name: flipInY;
}
@keyframes flipOutY {
    0% { transform: perspective(400px) rotateY(0deg); opacity: 1 }
    100% { transform: perspective(400px) rotateY(90deg); opacity: 0 }
}
.flipOutY {
    backface-visibility: visible !important;
    animation-name: flipOutY;
}
@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
.fadeIn { animation-name: fadeIn }
@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(20px) }
    100% { opacity: 1; transform: translateY(0) }
}
.fadeInUp { animation-name: fadeInUp }
@keyframes fadeInDown {
    0% { opacity: 0; transform: translateY(-20px) }
    100% { opacity: 1; transform: translateY(0) }
}
.fadeInDown { animation-name: fadeInDown }
@keyframes fadeInLeft {
    0% { opacity: 0; transform: translateX(-20px) }
    100% { opacity: 1; transform: translateX(0) }
}
.fadeInLeft { animation-name: fadeInLeft }
@keyframes fadeInRight {
    0% { opacity: 0; transform: translateX(20px) }
    100% { opacity: 1; transform: translateX(0) }
}
.fadeInRight { animation-name: fadeInRight }
@keyframes fadeInUpBig {
    0% { opacity: 0; transform: translateY(2000px) }
    100% { opacity: 1; transform: translateY(0) }
}
.fadeInUpBig { animation-name: fadeInUpBig }
@keyframes fadeInDownBig {
    0% { opacity: 0; transform: translateY(-2000px) }
    100% { opacity: 1; transform: translateY(0) }
}
.fadeInDownBig { animation-name: fadeInDownBig }
@keyframes fadeInLeftBig {
    0% { opacity: 0; transform: translateX(-2000px) }
    100% { opacity: 1; transform: translateX(0) }
}
.fadeInLeftBig { animation-name: fadeInLeftBig }
@keyframes fadeInRightBig {
    0% { opacity: 0; transform: translateX(2000px) }
    100% { opacity: 1; transform: translateX(0) }
}
.fadeInRightBig { animation-name: fadeInRightBig }
@keyframes fadeOut {
    0% { opacity: 1 }
    100% { opacity: 0 }
}
.fadeOut { animation-name: fadeOut }
@keyframes fadeOutUp {
    0% { opacity: 1; transform: translateY(0) }
    100% { opacity: 0; transform: translateY(-20px) }
}
.fadeOutUp { animation-name: fadeOutUp }
@keyframes fadeOutDown {
    0% { opacity: 1; transform: translateY(0) }
    100% { opacity: 0; transform: translateY(20px) }
}
.fadeOutDown { animation-name: fadeOutDown }
@keyframes fadeOutLeft {
    0% { opacity: 1; transform: translateX(0) }
    100% { opacity: 0; transform: translateX(-20px) }
}
.fadeOutLeft { animation-name: fadeOutLeft }
@keyframes fadeOutRight {
    0% { opacity: 1; transform: translateX(0) }
    100% { opacity: 0; transform: translateX(20px) }
}
.fadeOutRight { animation-name: fadeOutRight }
@keyframes fadeOutUpBig {
    0% { opacity: 1; transform: translateY(0) }
    100% { opacity: 0; transform: translateY(-2000px) }
}
.fadeOutUpBig { animation-name: fadeOutUpBig }
@keyframes fadeOutDownBig {
    0% { opacity: 1; transform: translateY(0) }
    100% { opacity: 0; transform: translateY(2000px) }
}
.fadeOutDownBig { animation-name: fadeOutDownBig }
@keyframes fadeOutLeftBig {
    0% { opacity: 1; transform: translateX(0) }
    100% { opacity: 0; transform: translateX(-2000px) }
}
.fadeOutLeftBig { animation-name: fadeOutLeftBig }
@keyframes fadeOutRightBig {
    0% { opacity: 1; transform: translateX(0) }
    100% { opacity: 0; transform: translateX(2000px) }
}
.fadeOutRightBig { animation-name: fadeOutRightBig }
@keyframes bounceIn {
    0% { opacity: 0; transform: scale(.3) }
    50% { opacity: 1; transform: scale(1.05) }
    70% { transform: scale(.9) }
    100% { transform: scale(1) }
}
.bounceIn { animation-name: bounceIn }
@keyframes bounceInUp {
    0% { opacity: 0; transform: translateY(2000px) }
    60% { opacity: 1; transform: translateY(-30px) }
    80% { transform: translateY(10px) }
    100% { transform: translateY(0) }
}
.bounceInUp { animation-name: bounceInUp }
@keyframes bounceInDown {
    0% { opacity: 0; transform: translateY(-2000px) }
    60% { opacity: 1; transform: translateY(30px) }
    80% { transform: translateY(-10px) }
    100% { transform: translateY(0) }
}
.bounceInDown { animation-name: bounceInDown }
@keyframes bounceInLeft {
    0% { opacity: 0; transform: translateX(-2000px) }
    60% { opacity: 1; transform: translateX(30px) }
    80% { transform: translateX(-10px) }
    100% { transform: translateX(0) }
}
.bounceInLeft { animation-name: bounceInLeft }
@keyframes bounceInRight {
    0% { opacity: 0; transform: translateX(2000px) }
    60% { opacity: 1; transform: translateX(-30px) }
    80% { transform: translateX(10px) }
    100% { transform: translateX(0) }
}
.bounceInRight { animation-name: bounceInRight }
@keyframes bounceOut {
    0% { transform: scale(1) }
    25% { transform: scale(.95) }
    50% { opacity: 1; transform: scale(1.1) }
    100% { opacity: 0; transform: scale(.3) }
}
.bounceOut { animation-name: bounceOut }
@keyframes bounceOutUp {
    0% { transform: translateY(0) }
    20% { opacity: 1; transform: translateY(20px) }
    100% { opacity: 0; transform: translateY(-2000px) }
}
.bounceOutUp { animation-name: bounceOutUp }
@keyframes bounceOutDown {
    0% { transform: translateY(0) }
    20% { opacity: 1; transform: translateY(-20px) }
    100% { opacity: 0; transform: translateY(2000px) }
}
.bounceOutDown { animation-name: bounceOutDown }
@keyframes bounceOutLeft {
    0% { transform: translateX(0) }
    20% { opacity: 1; transform: translateX(20px) }
    100% { opacity: 0; transform: translateX(-2000px) }
}
.bounceOutLeft { animation-name: bounceOutLeft }
@keyframes bounceOutRight {
    0% { transform: translateX(0) }
    20% { opacity: 1; transform: translateX(-20px) }
    100% { opacity: 0; transform: translateX(2000px) }
}
.bounceOutRight { animation-name: bounceOutRight }
@keyframes rotateIn {
    0% { transform-origin: center center; transform: rotate(-200deg); opacity: 0 }
    100% { transform-origin: center center; transform: rotate(0); opacity: 1 }
}
.rotateIn { animation-name: rotateIn }
@keyframes rotateInUpLeft {
    0% { transform-origin: left bottom; transform: rotate(90deg); opacity: 0 }
    100% { transform-origin: left bottom; transform: rotate(0); opacity: 1 }
}
.rotateInUpLeft { animation-name: rotateInUpLeft }
@keyframes rotateInDownLeft {
    0% { transform-origin: left bottom; transform: rotate(-90deg); opacity: 0 }
    100% { transform-origin: left bottom; transform: rotate(0); opacity: 1 }
}
.rotateInDownLeft { animation-name: rotateInDownLeft }
@keyframes rotateInUpRight {
    0% { transform-origin: right bottom; transform: rotate(-90deg); opacity: 0 }
    100% { transform-origin: right bottom; transform: rotate(0); opacity: 1 }
}
.rotateInUpRight { animation-name: rotateInUpRight }
@keyframes rotateInDownRight {
    0% { transform-origin: right bottom; transform: rotate(90deg); opacity: 0 }
    100% { transform-origin: right bottom; transform: rotate(0); opacity: 1 }
}
.rotateInDownRight { animation-name: rotateInDownRight }
@keyframes rotateOut {
    0% { transform-origin: center center; transform: rotate(0); opacity: 1 }
    100% { transform-origin: center center; transform: rotate(200deg); opacity: 0 }
}
.rotateOut { animation-name: rotateOut }
@keyframes rotateOutUpLeft {
    0% { transform-origin: left bottom; transform: rotate(0); opacity: 1 }
    100% { -transform-origin: left bottom; -transform: rotate(-90deg); opacity: 0 }
}
.rotateOutUpLeft { animation-name: rotateOutUpLeft }
@keyframes rotateOutDownLeft {
    0% { transform-origin: left bottom; transform: rotate(0); opacity: 1 }
    100% { transform-origin: left bottom; transform: rotate(90deg); opacity: 0 }
}
.rotateOutDownLeft { animation-name: rotateOutDownLeft }
@keyframes rotateOutUpRight {
    0% { transform-origin: right bottom; transform: rotate(0); opacity: 1 }
    100% { transform-origin: right bottom; transform: rotate(90deg); opacity: 0 }
}
.rotateOutUpRight { animation-name: rotateOutUpRight }
@keyframes rotateOutDownRight {
    0% { transform-origin: right bottom; transform: rotate(0); opacity: 1 }
    100% { transform-origin: right bottom; transform: rotate(-90deg); opacity: 0 }
}
.rotateOutDownRight { animation-name: rotateOutDownRight }
@keyframes lightSpeedIn {
    0% { transform: translateX(100%) skewX(-30deg); opacity: 0 }
    60% { transform: translateX(-20%) skewX(30deg); opacity: 1 }
    80% { transform: translateX(0%) skewX(-15deg); opacity: 1 }
    100% { transform: translateX(0%) skewX(0deg); opacity: 1 }
}
.lightSpeedIn { animation-name: lightSpeedIn; animation-timing-function: ease-out }
@keyframes lightSpeedOut {
    0% { transform: translateX(0%) skewX(0deg); opacity: 1 }
    100% { transform: translateX(100%) skewX(-30deg); opacity: 0 }
}
.lightSpeedOut { animation-name: lightSpeedOut; animation-timing-function: ease-in }
@keyframes hinge {
    0% { transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out }
    20%, 60% { transform: rotate(80deg); transform-origin: top left; animation-timing-function: ease-in-out }
    40% { transform: rotate(60deg); transform-origin: top left; animation-timing-function: ease-in-out }
    80% { transform: rotate(60deg) translateY(0); opacity: 1; transform-origin: top left; animation-timing-function: ease-in-out }
    100% { transform: translateY(700px); opacity: 0 }
}
.hinge { animation-name: hinge }
@keyframes rollIn {
    0% { opacity: 0; transform: translateX(-100%) rotate(-120deg) }
    100% { opacity: 1; transform: translateX(0px) rotate(0deg) }
}
.rollIn { animation-name: rollIn }
@keyframes rollOut {
    0% { opacity: 1; transform: translateX(0px) rotate(0deg) }
    100% { opacity: 0; transform: translateX(100%) rotate(120deg) }
}
.rollOut { animation-name: rollOut }



.image-button { background: none; }

/* Theme 5 Live Editor Styles (to fix asset browser styling issues specific to this theme) */
/* Live Editor Styles */
.landing-page-theme-5 .fancybox-inner .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar,
.landing-page-theme-5 .fancybox-inner #feature_area_optin .op-lightbox-content .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar,
.landing-page-theme-5 .fancybox-inner #feature_area_optin2 .op-lightbox-content .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar {
    background-color: #F2F2F2;
    left: 0;
    margin: 25px 0 15px -26px;
    position: relative;
    width: 709px !important;
}

.landing-page-theme-5 .fancybox-inner .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar ul,
.landing-page-theme-5 .fancybox-inner #feature_area_optin .op-lightbox-content .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar ul,
.landing-page-theme-5 .fancybox-inner #feature_area_optin2 .op-lightbox-content .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar ul {
    border-bottom: 0 none !important;
    box-shadow: -1px 0 0 0 #F2F2F2 inset;
}

.landing-page-theme-5 .fancybox-inner .op-bsw-grey-panel-content .op-bsw-grey-panel-tabs,
.landing-page-theme-5 .fancybox-inner #feature_area_optin .op-lightbox-content .op-bsw-grey-panel-content .op-bsw-grey-panel-tabs,
.landing-page-theme-5 .fancybox-inner #feature_area_optin2 .op-lightbox-content .op-bsw-grey-panel-content .op-bsw-grey-panel-tabs {
    margin: 0;
}


.landing-page-theme-5 .fancybox-inner .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li,
.landing-page-theme-5 .fancybox-inner #feature_area_optin .op-lightbox-content .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li,
.landing-page-theme-5 .fancybox-inner #feature_area_optin2 .op-lightbox-content .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li {
    border: 0 none !important;
    box-shadow: 0 0 0 1px #ccc inset, 0 2px 0 0 #fff inset !important;
    display: inline-block;
    margin-right: -4px !important;
}

.landing-page-theme-5 .fancybox-inner .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li.op-bsw-grey-panel-tabs-selected:first-child a,
.landing-page-theme-5 .fancybox-inner .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li.op-bsw-grey-panel-tabs-selected:last-child a,
.landing-page-theme-5 .fancybox-inner #feature_area_optin .op-lightbox-content .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li.op-bsw-grey-panel-tabs-selected:first-child a,
.landing-page-theme-5 .fancybox-inner #feature_area_optin2 .op-lightbox-content .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li.op-bsw-grey-panel-tabs-selected:first-child a,
.landing-page-theme-5 .fancybox-inner #feature_area_optin .op-lightbox-content .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li.op-bsw-grey-panel-tabs-selected:last-child a,
.landing-page-theme-5 .fancybox-inner #feature_area_optin2 .op-lightbox-content .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li.op-bsw-grey-panel-tabs-selected:last-child a {
    border-radius: 0 !important;
}

.landing-page-theme-5 .fancybox-inner .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li a,
.landing-page-theme-5 .fancybox-inner #feature_area_optin .op-lightbox-content .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li a,
.landing-page-theme-5 .fancybox-inner #feature_area_optin2 .op-lightbox-content .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li a {
    font-size: 12px !important;
}

/* Fix for WP 3.8 (z-index of admin wp menu items dropdowns was too low) */
.sticky-menu #adminmenuwrap { z-index: 9990; }

/* Fix for WP 4.2 (z-index of admin menu background was too high) */
.sticky-menu #adminmenuback { z-index: 9980; }

/* Fix for query monitor in wp-admin-bar - fix is also included into lib/assets/default.css, because none css file is loaded always */
#wp-admin-bar-query-monitor small { display: inline; }

.mce-panel .mce-menubar { display: none; }

/**
 * Support screen
 */
.op-support-screen { margin: 0; }
.op-support-table {
    width: 100%;
    font-size: 12px;
    line-height: 1.6;
}

.op-support-column-1 {
    float: left;
    width: 45%;
    padding-top: 5px;
}

.op-support-column-2 {
    float: right;
    width: 50%;
}

.op-support-table .status-row a {
    font-weight: bold;
}

.no-pointer-events,
.no-pointer-events * {
    pointer-events: none !important;
}

.jquery-input-file-prettify a,
.op-btn-rounded {
    border: 1px solid #ccc;
    border-radius: 25px;
    color: #000 !important;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    margin: 0;
    min-height: 16px;
    padding: 5px 15px;
    text-decoration: none !important;
    text-shadow: 0 1px 0 white;
    width: auto;
    height: auto !important;
    box-shadow: none;
    outline: none;
    /*background: url("../images/white-grad.png") repeat-x scroll 0 0 #f2f2f2 !important;*/
    background: #f1f1f1;
    background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 100%);
}

.jquery-input-file-prettify + .op-btn-rounded {
    margin-top: 10px;
}

.op-btn-rounded[disabled="disabled"],
.op-btn-rounded[disabled="disabled"]:focus,
.op-btn-rounded[disabled="disabled"]:hover {
    cursor: default;
    color: #B8B8B8 !important;
    box-shadow: inset 0 0 50px rgba(0,0,0,.1) !important;
    border: 1px solid #ccc;
}

.jquery-input-file-prettify span {
    left: 100px !important;
}

.jquery-input-file-prettify-hover a:focus,
.op-btn-rounded:focus {
    border: 1px solid #bbb;
}

.jquery-input-file-prettify a:hover,
.op-btn-rounded:hover {
    border: 1px solid #bbb;
    background: #f7f7f7;
    background: linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
}

.jquery-input-file-prettify a:active,
.op-btn-rounded:active {
    box-shadow: inset 0 3px 10px rgba(0,0,0,.1);
}

/**
 * OP Info Box
 */
.op-info-box,
.op-info-box-panel {
    padding: 12px 15px;
    overflow: hidden;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.op-notify + .op-info-box {
    margin-top: 25px;
}

/**
 * OP Helper classes
 */
.op-hidden { display: none }

.op-info-box img {
    max-width: 100%;
    height: auto;
}

.op-info-box-panel {
    border-radius: 3px 3px 0 0;
    background-color: #f1f1f1;
}

.op-info-box + .op-info-box-panel {
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    margin-top: -3px;
}

.op-info-box-panel + .op-info-box {
    border-radius: 0 0 3px 3px;
    margin-top: -3px;
}

.op-info-box > p {
    margin: 7px 14px 6px;
    font-size: 17px;
}

.op-info-box-getting-started-link {
    text-decoration: underline;
    cursor: pointer;
}

.op-video-container {
    margin: 0 14px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-in-out, margin .1s ease-in-out;
}

.op-video-container--opened {
    max-height: 1000px;
    margin: 14px;
}

.op-getting-started-video {
    height: 0;
    padding-bottom: 56.235294117647%;
    padding-top: 0;
    width: 100%;
    position: relative;
}

.op-getting-started-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}


/**
 * jQuery input file prettify
 * (used in Upload a content template form)
 */
.jquery-input-file-prettify {
    position: relative;
    overflow: hidden;
}

.jquery-input-file-prettify input {
    position: absolute;
    display: block;
    left: 0;
    top: -999px;
    opacity: 0;
    cursor: pointer;
}

.jquery-input-file-prettify a {
    display: inline-block;
    min-height: 16px;
    margin: 0 12px 0 0;
    padding: 5px 15px;
    font-size: 13px;
    line-height: 15px;
    text-decoration: none;
    outline: 0;
    color: #666;
    border: 1px solid #ccc;
    background: #f6f6f6;
    border-radius: 14px;
}

.jquery-input-file-prettify span {
    position: absolute;
    display: block;
    top: 0;
    left: auto;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jquery-input-file-prettify label {
    line-height: 28px;
    font-size: 14px;
    cursor: default;
    color: #666;
}

.jquery-input-file-prettify-hover a {
    border: 1px solid #aaa;
    color: #555;
}

.jquery-input-file-prettify-hover label { color: #555; }
.jquery-input-file-prettify-label-link label { cursor: pointer; }

#TB_closeWindowButton .screen-reader-text,
.media-modal-close .screen-reader-text { display: none; }
/*.media-modal label { display: none; }*/
.imgedit-settings .media-modal label { display: inline; }
.media-toolbar-secondary #media-attachment-filters,
.media-toolbar-secondary #media-attachment-date-filters {
    display: inline-block;
    margin-top: 11px !important;
}
.media-toolbar select.attachment-filters {
    margin-top: 11px !important;
}
.media-modal .media-embed label { display: block; }
.media-modal .media-embed input { margin-bottom: 0; }

#toplevel_page_optimizepress .wp-submenu li:last-child { display: none; }

.opl-postselect-item {
    color: white;
    background: #94a0b0;
    height: 24px;
    border-radius: 12px;
    padding: 0px 10px;
    line-height: 24px;
    float: left;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px 5px 10px 0px;
}

.opl-postselect-item a {
    color: white !important;
    text-decoration: none;
}

#exclude_pages_select {
    max-width: 170px;
}
.opl-select-exclude {
    display: inline-grid;
}
